.container-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 40% !important;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.margin-bottom {
  margin-bottom: 15px;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

li p {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(#a0a0a0, 0.25);
  color: #a0a0a0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
  &:hover {
    background: #444141;
    color: #ffffff;
  }
}
.active p {
  background: rgb(235, 37, 37);
  color: #ffffff;
}
